{% extends "products/main.html" %} {% load static %} {% block content %}


<form class="sub-box text-center">
    <i class="fas fa-search"></i>
    <input class="ipt" type="email" name="" placeholder="search our store">
    <i class="fas fa-suitcase"></i>
</form>

<div class="ours">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>our story</h1>
                <p><b>Creating high quality, an attractive social presence, and functional sportswear is why we’re here.</b><br><br> Gorilla Outfit is a ﻿digitally founded brand in 2017 by 2 childhood friends who immensely wanted to bring a lot more to the
                    sportswear industry by adding a sense of style and high functionality to boost confidence and performance. Now, with over 50K valued customers worldwide and opening our First physical store in Egypt. We are dedicated more than ever
                    to help everyone styling up and feeling confident by the way they dress while exercising.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'img/115_480x480.png' %}">
            </div>
        </div>
    </div>

</div>
<!--Start Team-->
<div class="team" id="team">
    <div class="container">
        <h2 class="text-center team-h">TESTIMONIALS</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="team-opt">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="rounded-circle" src="img/avatar.png">
                        </div>
                        <div class="col-sm-8">
                            <h3>ابو سلامه</h3>
                            <span>Chief Executive Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <a><i class="fab fa-facebook"></i></a>
                            <a><i class="fab fa-twitter"></i></a>
                            <a><i class="fab fa-linkedin-in"></i></a>
                            <a><i class="fab fa-whatsapp"></i></a>
                            <a><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-opt">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="rounded-circle" src="img/avatar.png">
                        </div>
                        <div class="col-sm-8">
                            <h3>abdo ibrahim</h3>
                            <span>Chief Executive Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <a><i class="fab fa-facebook"></i></a>
                            <a><i class="fab fa-twitter"></i></a>
                            <a><i class="fab fa-linkedin-in"></i></a>
                            <a><i class="fab fa-whatsapp"></i></a>
                            <a><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="team-opt">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="rounded-circle" src="img/avatar.png">
                        </div>
                        <div class="col-sm-8">
                            <h3>Walter White</h3>
                            <span>Chief Executive Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <a><i class="fab fa-facebook"></i></a>
                            <a><i class="fab fa-twitter"></i></a>
                            <a><i class="fab fa-linkedin-in"></i></a>
                            <a><i class="fab fa-whatsapp"></i></a>
                            <a><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="team-opt">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="rounded-circle" src="img/avatar.png">
                        </div>
                        <div class="col-sm-8">
                            <h3>Walter White</h3>
                            <span>Chief Executive Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <a><i class="fab fa-facebook"></i></a>
                            <a><i class="fab fa-twitter"></i></a>
                            <a><i class="fab fa-linkedin-in"></i></a>
                            <a><i class="fab fa-whatsapp"></i></a>
                            <a><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Team-->
{% endblock content %}